@using PhoneStore.Models
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section title{
    Tạo tài khoản
}


@section js {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/DatePicker-for-Bootstrap/js/bootstrap-datepicker.js"></script>

    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
        })

        $('#DOB').datepicker()
        .on('changeDate', function (ev) {
            $('#DOB').datepicker('hide');
        });

        $.validator.addMethod("check_old", function (value, element) {

            var dob = $("#DOB").val();
            var age = 18;

            var mydate = new Date(dob);

            var currdate = new Date();
            currdate.setFullYear(currdate.getFullYear() - age);

            return currdate > mydate;

        }, "Bạn không đủ 18 tuổi.");

        $(function () {
            $('#registerForm').validate({
                rules: {
                    UID: {
                        required: true
                    },
                    PWD: {
                        required: true,
                        minlength: 6
                    },
                    ConfirmPWD: {
                        required: true,
                        equalTo: $("[name='PWD']")
                    },
                    FullName: {
                        required: true,
                    },
                    Email: {
                        required: true,
                    },
                    DOB: {
                        required: true,
                        check_old: true
                    },
                    CaptchaCode: {
                        required: true,
                    }
                },
                messages: {
                    UID: {
                        required: "Chưa nhập tên đăng nhập.",
                    },
                    PWD: {
                        required: "Chưa nhập mật khẩu.",
                        minlength: "Mật khẩu phải ít nhất 6 kí tự."
                    },
                    ConfirmPWD: {
                        required: "Chưa nhập mật khẩu lần 2.",
                        equalTo: "Mật khẩu nhập lại không đúng."
                    },
                    FullName: {
                        required: "Chưa nhập họ tên.",
                    },
                    Email: {
                        required: "Chưa nhập email.",
                        email: "Email không hợp lệ."
                    },
                    DOB: {
                        required: "Chưa nhập ngày sinh",
                    },
                    CaptchaCode: {
                        required: "Chưa nhập mã xác nhận",
                    }
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function(error, element){
                    var alertDiv = $('.alert-warning', $('#registerForm'));
                    error.appendTo(alertDiv);
                },

                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },

                success: function (label)
                {
                    var name = label.attr('for');
                    $('[name=' + name + ']').closest('.form-group').removeClass('has-error');

                    label.remove();

                    if($('.help-block', $('.alert-warning')).length === 0) {
                       $('.alert-warning', $('#registerForm')).addClass('hidden');
                    }
                },
                invalidHandler: function (event, validator) {
                    $('.alert-warning', $('#registerForm')).removeClass('hidden');
                    $('.alert-success', $('#registerForm')).addClass('hidden');
                },
            });
        });
    </script>
}

@section css{
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <link href="~/Assets/DatePicker-for-Bootstrap/css/datepicker.css" rel="stylesheet" />
}


<form class="form-horizontal" action="" method="post" id="registerForm">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-warning alert-dismissible @(ViewBag.Err == null ? "hidden" : "")" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Lỗi: </strong><span>@ViewBag.Err</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success @(ViewBag.Board == null ? "hidden" : "")" role="alert"><strong>Thành công! </strong><span>@ViewBag.Board</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>Thông tin đăng nhập</h4><hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="UID" placeholder="Tên đăng nhập" value="@(ViewBag.Err == null ? "" : Model.UID)" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="PWD" placeholder="Mật khẩu" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="ConfirmPWD" placeholder="Nhập lại mật khẩu" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 title">
            <h4>Thông tin cá nhân</h4><hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="FullName" placeholder="Họ tên" value="@(ViewBag.Err == null ? "" : Model.FullName)" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="Email" placeholder="Email" value="@(ViewBag.Err == null ? "" : Model.Email)" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control datepicker" id="DOB" name="DOB" placeholder="Ngày sinh" readonly="readonly" value="@(ViewBag.Err == null ? "" : Model.DOB)" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 title">
            <h4>Mã xác nhận</h4><hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <div class="col-sm-6">
                    @{
                        MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                        exampleCaptcha.UserInputID = "CaptchaCode";
                    }
                    @Html.Captcha(exampleCaptcha)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="CaptchaCode" name="CaptchaCode" placeholder="Captcha" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary pull-right"><i class="fa fa-mail-reply"></i> Danh sách người dùng</a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Tạo tài khoản
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

