@using PhoneStore.Models

@model SearchModel

@{
    ViewBag.Title = "Tìm kiếm nâng cao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Tìm kiếm nâng cao
}

@section css {
    <link href="~/Assets/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}

@section html{
    <form id="frmAddToCart" method="post" action="@Url.Action("ATCAtSearchNC", "Giohang")">
        <input type="hidden" name="hang" value="@Model.Hang" />
        <input type="hidden" name="nsx" value="@Model.NSX" />
        <input type="hidden" name="min" value="@Model.GiaMin" />
        <input type="hidden" name="max" value="@Model.GiaMax" />
        <input type="hidden" name="page" value="@ViewBag.CurPage" />
        <input type="hidden" name="ProID" />
    </form>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">Kết quả tìm kiếm</h3> 
        </div>
        <div class="panel-body">
            @if (Model.dt == null || Model.dt.Count() == 0)
            {
                <text>Không có sản phẩm nào</text>
            }
            else
            {
                <div class="row">
                    @foreach (DIENTHOAI dt in Model.dt)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="@Url.Action("Chitiet", "Dienthoai", new { id = @dt.MaDT })"><img src="/Images/Products/@dt.MaDT/sm.jpg" width="241" height="83" alt="@dt.TenDT" title="@dt.TenDT" /></a>
                                <div class="caption">
                                    <a href="@Url.Action("Chitiet", "Dienthoai", new { id = @dt.MaDT })"><h3>@dt.TenDT</h3></a>
                                    <span style="color: green; font-size: 15pt">@string.Format("{0:N0}", dt.DonGia) ₫</span><br /><br />
                                    <p>
                                        <a href="@Url.Action("Chitiet", "Dienthoai", new { id = @dt.MaDT })" class="btn btn-primary" role="button"><i class="fa fa-bars"></i> Chi tiết</a>
                                        @if (PhoneStore.Helpers.CurrentContext.IsLogin())
                                        {
                                            <a href="#" data-proid="@dt.MaDT" class="btn btn-danger" role="button"><i class="fa fa-shopping-cart"></i> Mua hàng</a>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="@(ViewBag.CurPage == 1 ? "disabled" : "")">
                            <a href="@(ViewBag.CurPage == 1 ? "#" : @Url.Action("TimkiemNC", "Dienthoai", new { Hang = Model.Hang, NSX = Model.NSX, GiaMin = Model.GiaMin, GiaMax = Model.GiaMax, page = ViewBag.CurPage - 1 }))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="@(ViewBag.CurPage == i ? "active" : "")"><a href="@Url.Action("TimkiemNC", "Dienthoai", new { Hang = Model.Hang, NSX = Model.NSX, GiaMin = Model.GiaMin, GiaMax = Model.GiaMax, page = i })">@i</a></li>
                        }
                        <li class="@(ViewBag.CurPage == ViewBag.PageCount ? "disabled" : "")">
                            <a href="@(ViewBag.CurPage == ViewBag.PageCount ? "#" : @Url.Action("TimkiemNC", "Dienthoai", new { Hang = Model.Hang, NSX = Model.NSX, GiaMin = Model.GiaMin, GiaMax = Model.GiaMax, page = ViewBag.CurPage + 1 }))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>

}
<form class="form-horizontal" method="post" action="@Url.Action("TimkiemNC", "Dienthoai")">
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <div class="alert alert-warning alert-dismissible @(ViewBag.Err == null ? "hidden" : "")" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Lỗi: </strong><span>@ViewBag.Err</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Hãng điện thoại</label>
        <div class="col-sm-4">
            <select class="selectpicker" name="Hang">
                <option value="0">[Chọn hãng điện thoại]</option>
                @for (int i = 0; i < Model.lt.Count(); i++)
                {
                    <option value="@Model.lt[i].MaHang">@Model.lt[i].TenHang</option>
                }
            </select>
        </div>

        <label for="inputPassword3" class="col-sm-2 control-label">Nhà sản xuất</label>
        <div class="col-sm-4">
            <select class="selectpicker" name="NSX">
                <option value="0">[Chọn nhà sản xuất]</option>
                @for (int i = 0; i < Model.ln.Count(); i++)
                {
                    <option value="@Model.ln[i].MaNSX">@Model.ln[i].TenNSX</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Giá Từ</label>
        <div class="col-sm-4">
            <select class="selectpicker" name="GiaMin">
                <option value="-1">[Từ]</option>
                @for (int i = 0; i < 3000000; i += 500000)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <label for="inputEmail3" class="col-sm-2 control-label">Đến </label>
        <div class="col-sm-4">
            <select class="selectpicker" name="GiaMax">
                <option value="-1">[Đến]</option>
                @for (int i = 5000000; i <= 50000000; i += 5000000)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

@section js {
    <script src="~/Assets/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker();

        $('a[data-proid]').on('click', function () {
            var proId = $(this).attr('data-proid');
            $("input[name='ProID']").val(proId);
            $('#frmAddToCart').submit();
        });
    </script>
}

